{% extends 'user/base.html' %}

{% block main %}
<div class="container mt-5">
    <h1>Наш великолепный персонал:</h1><br>
    {% if stafs|length > 0 %}
        {% for el in stafs %}
        <div class="alert alert-info">
            <h2>{{ el.last }} {{ el.name }}</h2>
            <p><b>Начало работы: {{ el.date.date() }}</b></p>
            <a class="btn btn-warning" href="/stafs/{{ more }}/{{ el.id }}">Детальнее</a>
        </div>
        {% endfor %}
    {% else %}
        <p>У нас нет персонала!</p>
    {% endif %}
</div>
{% endblock %}