{% extends 'admin/base.html' %}

{% block main %}
<div class="container mt-5">
    <h1>Редактировать товар</h1>
    <form method="post">
        <input type="text" class="form-control" name="title" id="title" placeholder="Заголовок" value="{{ product.title }}" required><br>
        <input type="text" class="form-control" name="cast" id="cast" placeholder="Цена рублей" value="{{ product.cast }}" required><br>
        <input type="text" class="form-control" name="place" id="place" placeholder="Место сделки" value="{{ product.place }}" required><br>
        <input type="text" class="form-control" name="HELP" id="HELP" placeholder="Поддержка" value="{{ product.HELP }}" required><br>
        <textarea type="text" class="form-control" name="text" id="text" placeholder="Описание товара" required>{{ product.text }}</textarea><br>
        <input type="text" class="form-control" name="button" id="button" placeholder="Кнопка покупки" value="{{ product.button }}" required><br>
        <input type="submit" class="btn btn-success" value="Сохранить">
    </form>
</div>
{% endblock %}