{% extends 'user/base.html' %}

{% block main %}
<div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Цены</h1>
        <p class="fs-5 text-body-secondary">Быстро построй эффективный шаблон для продаж с помощью нашего магазина. Сделай это с помощью обычных компонентов, а также индивидуальных особенностей проекта.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Бесплатно</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">0₽<small class="text-body-secondary fw-light">/мес</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>10 пользователей</li>
                <li>2 ГБ свободного места</li>
                <li>Помощь по почте</li>
                <li>Центр поддержки</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Взять бесплатно</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Профессиональная</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">150₽<small class="text-body-secondary fw-light">/мес</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>20 пользователей</li>
                <li>10 ГБ свободного места</li>
                <li>Приоритет в помощи</li>
                <li>Центр поддержки</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Полная версия</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">290₽<small class="text-body-secondary fw-light">/мес</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>30 пользователей</li>
                <li>15 ГБ свободного места</li>
                <li>Помощь по телефону и почте</li>
                <li>Центр поддержки</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}