{% extends 'admin/base.html' %}

{% block main %}
<div class="container mt-5">
    <h1>Наши замечательные продукты:</h1><br>
    {% if products|length > 0 %}
        {% for el in products %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <a class="btn btn-warning" href="/product/6VKBw7X$ThNcFy&/{{ el.id }}">Детальнее</a>
        </div>
        {% endfor %}
    {% else %}
        <p>У нас нет товаров!</p>
    {% endif %}
</div>
{% endblock %}