{% extends 'admin/base.html' %}

{% block main %}
<div class="container mt-5">
    <h1>Редактировать персонал</h1>
    <form method="post">
        <input type="text" class="form-control" name="name" id="name" value="{{ staff.name }}" placeholder="Имя"><br>
        <textarea name="last" id="last" class="form-control" placeholder="Фамилия">{{ staff.last }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Описание">{{ staff.text }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Сохранить">
    </form>
</div>
{% endblock %}